body {
  font-family: sans-serif;
  margin: 0;
  padding: 15px;
  background-color: #121214;
}
.wrap {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}
.profile {
  text-align: center;
  color: #000;
}
.photo {
  position: relative;
  margin-top: 70px;
  width: 150px;
  height: 150px;
  top: 60px;
  transform: translateY(-50%);
  border-radius: 50%;
  z-index: 4;
  box-shadow: 0px 5px 50px 0px #301be9, 0px 0px 0px 7px #2e0d7c;
}
.profile_name {
  font-weight: bold;
  display: block;
  font-size: x-large;
  font-family: monospace;
  color: #250b65;  
  padding-bottom: 12px;

}
.at {
    font-size: large;
    margin: auto;
    color: #250b65;
    font-family: monospace;
    font-weight: bold;

}
.links ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
.links ul li {
  margin: 14px 0;
}
.link {
  padding: 14px;
  display: block;
  font-family: monospace;
  background-color: #2e0d7c;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: ease all 0.3s;
  color: #FFF;
  margin: auto;
}
.link:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
.card {
  padding: 10px;
  background-color: #FFF;
  border-radius: 4px;
}

.card:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.card h3 {
  margin: 0;
  color: #202024;
}
.card p {
  margin: 5px 0;
  font-size: 13px;
  color: #202024;
}

.profile-card__img {
  width: 200px;
  height: 200px;
  top: 60px;
  transform: translateY(-50%);
  border-radius: 50%;
  z-index: 4;
  box-shadow: 0px 5px 50px 0px #2e0d7c, 0px 0px 0px 7px rgba(54, 139, 230, 0.5);
}

.bg-gradient-main
{
	background: linear-gradient(-45deg, #1a75ff, #66a3ff, #00b3b3, #d0f679);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
	
    @-webkit-keyframes Gradient {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@-moz-keyframes Gradient {
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}
	@keyframes Gradient { 
		0%{background-position:0% 50%}
		50%{background-position:100% 50%}
		100%{background-position:0% 50%}
	}